<Project Sdk="Microsoft.NET.Sdk">

  <ItemGroup>
    <ProjectReference Include="..\..\..\DBContexts\SystemMain\SystemMain.csproj" />
    <ProjectReference Include="..\..\Service.Common\Service.Common.csproj" />
    <ProjectReference Include="..\{{ServiceName}}.Query.Domain\{{ServiceName}}.Query.Domain.csproj" />
  </ItemGroup>

</Project>
