<Project Sdk="Microsoft.NET.Sdk">
  <ItemGroup>
    <ProjectReference Include="..\\..\\CommonLibrary\CommonLibrary.csproj" />
    <ProjectReference Include="..\\..\\CQRS.Core\CQRS.Core.csproj" />
    <ProjectReference Include="..\\..\\DataAccess\DataAccess.csproj" />
    <ProjectReference Include="..\\..\\DBContexts\SystemMain\SystemMain.csproj" />
    <ProjectReference Include="..\\..\\Services\Service.Common\Service.Common.csproj" />
    <ProjectReference Include="..\\..\\Services\{{ServiceName}}\{{ServiceName}}.Cmd.Domain\{{ServiceName}}.Cmd.Domain.csproj" />
    <ProjectReference Include="..\\..\\Services\{{ServiceName}}\{{ServiceName}}.Cmd.Infrastructure\{{ServiceName}}.Cmd.Infrastructure.csproj" />
    <ProjectReference Include="..\\..\\Services\{{ServiceName}}\{{ServiceName}}.Query.Domain\{{ServiceName}}.Query.Domain.csproj" />
    <ProjectReference Include="..\\..\\Services\{{ServiceName}}\{{ServiceName}}.Query.Infrastructure\{{ServiceName}}.Query.Infrastructure.csproj" />
  </ItemGroup>
</Project>
